/* BODY */
body {
  background-color:white;
  background-image:url(Images/background.jpg);
  background-repeat: no-repeat;
  min-width: 520px;
}

/* FONT */
@font-face {
  font-family: "TrashHand";
  src: url('TrashHand.TTF')format("truetype");
} 

@font-face {
  font-family: "Bebas";
  src: url('BEBAS.TTF')format("truetype");
} 

/* Container */
.container {
  max-width: 900px;
  padding-bottom: 50px;
  height: auto;
}

/* Header */
.header {
  padding-bottom: 100px;
}

/* Header: Col 1*/
.header p {
  font-size: 8px;
  color: #ffffff;
  text-align: center;
}

.header img{
  width: 100%;
  float:left;
}

/* Header: Col 2*/
#col2 li a{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  color: grey;
}

#col2 li a:hover {
  background-color: grey;
  color: white;}

#col2 img{
  width: 70%;
}

/* Navigation */

.naviga {
  padding-bottom: 20px;
  width: 100%;
}

.naviga ul {
  list-style-type: none;
}

.naviga li{
  float: left;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.naviga li a {
  font-size: 14px;
  display: block;
  color: white;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}

#AP {
  font-family: "calibri";
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  color: grey;
}

#partag{
  height: 25px;
  width: auto;

}

#part{
  border-bottom:none;
  border-top:none;
}

.naviga li a:hover {
  background-color: #ffffff;
  color: grey;
  text-decoration: none;
}

/* Slider */
#left{
    height: 390px;
    position: absolute;
    left: 18%;
    top: 130px;
}

#right {
    height: 390px;
    position: absolute;
    right: 18%;
    top: 130px;
}

#myCarousel
{
  margin-right: 15px;
  margin-left: 15px;
}

#center {
    height: 370px;
    position: absolute;
    top: 140px;
    left: 335px;
}

/* Contenido*/

.col-md-6{
  max-height: 650px;
}

.Contenido {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Contenido img{
  max-width: 405px;
}

.Contenido figcaption{
  position: relative;
  text-align: center;
}

#deco {
  position: absolute;
  left: 15px;
  top: 20px;
}
  /* Contenido: Text*/
#top1{
  bottom: 70px;
  font-size: 20px;
  color: grey;
}

#top11{
  font-family: "TrashHand";
  bottom: 70px;
  font-size: 20px;
  color: #e9a2b1;
}

#top2{
  font-family: "TrashHand";
  bottom: 70px;
  font-size: 25px;
  color: grey;
}

#bot1{
  font-family: "Bebas";
  bottom: 250px;
  font-size: 55px;
  color: white;
}

#bot11{
  font-family: "Bebas";
  bottom: 190px;
  font-size: 55px;
  color: white;
}

#bot2{
  font-family: "Bebas";
  bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #ffb220;
  margin-left: 20px;
  float: left;
}
  /*Contenido: Images*/
 #imgbot1{
  position: relative;
  bottom: 35px;
 }

 #imgbot2{
  position: relative;
  bottom: 12px;
 }

/* Footer */
.footer {
  padding-top: 5px;
  text-align: center;
  color: #777;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}

.footer img{
  width: 800px;
  height: auto;
}


/* Responsive */

@media screen and (max-width:1510px) {
  #center{
    display: none;}
}

@media screen and (max-width:995px) {
  .Contenido {
    align-items: center;
    text-align: center;
  }

  #deco, #logo,#left,#right,#partag {
    display: none;
  }

  #bot2{
    float: none;
    right: 90px;
  }

  #titre{
    width: 80%;
  }

  .naviga li a {
  font-size: 12px;}

  .footer img{
  max-width: 100%;
  height: auto;
  }
}

@media screen and (max-width:770px) {
  .footer p{
    display: none;
  }

  #idiom{
    display: none;
   }

  #titre{
    width: 100%;
  }

  .header {
  padding-bottom: 15%;
  }

  .naviga li a {
  font-size: 12px;
  padding-right: 15%;
  padding-left: 15%;
  }

  #AP {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width:480px)
{
  .footer img{
  max-width: 100%;
  height: auto;
  }
}
